* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  background: linear-gradient(135deg, rgb(75, 56, 56) 0%, rgb(43, 44, 69) 100%);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 20px;
  overflow-y: hidden;
}
.wrapper {
  width: 40%;
  min-width: 400px;
  aspect-ratio: 5/6;
  margin: 0 auto;
}
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'content content'
    'description control';
  row-gap: 4rem;
}
input[type=radio] {
  display: none;
}
.images-wrapper, .text-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.images-wrapper {
  grid-area: content;
  border-radius: 1rem;
}
.slider-images, .slider-text {
  display: flex;
  width: 400%;
  height: 100%;
  transition: transform 0.5s ease;
}
.slider-images .slider-item {
  display: inline-block;
  width: 2000px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.slider-images .slider-item_1 {
  background-image: url('./assets/img/01.jpg');
}
.slider-images .slider-item_2 {
  background-image: url('./assets/img/02.jpg');
}
.slider-images .slider-item_3 {
  background-image: url('./assets/img/03.jpg');
}
.slider-images .slider-item_4 {
  background-image: url('./assets/img/04.jpg');
}
.text-wrapper {
  grid-area: description;
}
.slider-text .slider-item {
  display: inline-block;
  width: 2000px;
  height: 100%;
  padding-right: 11rem;
}
.slider-controls {
  display: flex;
  justify-content: space-around;
  grid-area: control;
}

label {
  position: relative;
  display: inline-block;
  padding: 1.4rem;
  padding-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.circle {
  transform: translate3d(50%, 50%, 100%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid rgb(68, 214, 247);
  background-color: rgb(68, 214, 247);
  box-shadow: 0px 0px 6px 3px rgba(68, 214, 247, 0.44);
  transition: all 0.5s ease-out;
}
.circle:hover {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.65);
}

#s1:checked ~ .images-wrapper .slider-images {
  transform: translate3d(0%, 0, 0);
}
#s2:checked ~ .images-wrapper .slider-images {
  transform: translate3d(-25%, 0, 0);
}
#s3:checked ~ .images-wrapper .slider-images {
  transform: translate3d(-50%, 0, 0);
}
#s4:checked ~ .images-wrapper .slider-images {
  transform: translate3d(-75%, 0, 0);
}

#s1:checked ~ .text-wrapper .slider-text {
  transform: translate3d(-75%, 0, 0);
}
#s2:checked ~ .text-wrapper .slider-text {
  transform: translate3d(-50%, 0, 0);
}
#s3:checked ~ .text-wrapper .slider-text {
  transform: translate3d(-25%, 0, 0);
}
#s4:checked ~ .text-wrapper .slider-text {
  transform: translate3d(0%, 0, 0);
}

#s1:checked ~ .slider-controls .slider-controls_1 .circle {
  background-color: rgba(255, 255, 255, .01);
}
#s2:checked ~ .slider-controls .slider-controls_2 .circle {
  background-color: rgba(255, 255, 255, .01);
}
#s3:checked ~ .slider-controls .slider-controls_3 .circle {
  background-color: rgba(255, 255, 255, .01);
}
#s4:checked ~ .slider-controls .slider-controls_4 .circle {
  background-color: rgba(255, 255, 255, .01);
}

@media (min-width: 1400px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .wrapper {
    aspect-ratio: 14/15;
  }
  .slider {
    grid-template-rows: 3fr 40px 40px;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-areas:
      'content'
      'control'
      'description';
  }
  .slider-controls {
    justify-content: center;
  }
  label {
    margin-right: 1.2rem;
    padding-top: 1.4rem;
  }
}